{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "plugin:flowtype/recommended",
    "prettier"
  ],
  "plugins": [
    "flowtype",
    "prettier"
  ],
  "rules": {
    "arrow-parens": "off",
    "max-len": "off",
    "no-await-in-loop": "off",
    "no-underscore-dangle": "off",
    "no-duplicate-imports": "off",
    "import/prefer-default-export": "off",
    "no-param-reassign": [2, {
      "props": false
    }],
    "flowtype/space-after-type-colon": "off",
    "prettier/prettier": "warn"
  }
}
