!.gitkeep
.DS_Store
bower_components/
coverage/
jspm_packages/
lerna-debug.log
logs/*
node_modules/
npm-debug.log
tmp

## VSCode:
.vscode/

## Babel target directory
dist/

## Test artifacts
/packages/metaed-plugin-edfi-xsd/test/integration/artifact/*
!/packages/metaed-plugin-edfi-xsd/test/integration/artifact/*-Authoritative.xsd

0004-Tables.diff
0004-Tables.sql
0004-Tables.html

Simple-0004-Extension-extension-Tables.sql
Transcript-0004-Extension-extension-Tables.sql

0020-SchoolYears.sql
0020-Tables.sql
0020-Tables.diff
0020-Tables.html
0030-ForeignKeys.sql
0040-IdColumnUniqueIndexes.sql
0050-ExtendedProperties.sql
1410-CreateIndex-EdOrgIdsRelationship-AuthPerformance.sql

Simple-0004-Extension-Extension-Tables.sql
Transcript-0004-Extension-Extension-Tables.sql
Simple-0020-Extension-Extension-Tables.sql
SimpleType-0020-Extension-Extension-Tables.sql
Transcript-0020-Extension-Extension-Tables.sql
Simple-0030-Extension-Extension-ForeignKeys.sql
SimpleType-0030-Extension-Extension-ForeignKeys.sql
Transcript-0030-Extension-Extension-ForeignKeys.sql
SimpleType-1410-Extension-Extension-CreateIndex-EdOrgIdsRelationship-AuthPerformance.sql

/packages/metaed-plugin-edfi-odsapi/test/integration/artifact/*
!/packages/metaed-plugin-edfi-odsapi/test/integration/artifact/*-authoritative.json

/packages/metaed-plugin-edfi-api-schema/test/integration/artifact/v7_1/*-generated.json

/packages/metaed-odsapi-deploy/test/integration/output/*

TrackedDeleteTables-v6.0.sql
sample-TrackedDeleteTables-v6.0.sql
DeleteTrackingTrigger-v5.0.sql
DeleteTrackingTrigger-v5.0-Alliance.sql
DeleteTrackingTrigger-v6.0.sql
DeleteTrackingTrigger-v6.0-Alliance.sql
sample-DeleteTrackingTrigger-v5.0.sql
sample-DeleteTrackingTrigger-v5.0-Alliance.sql
sample-DeleteTrackingTrigger-v6.0.sql
sample-DeleteTrackingTrigger-v6.0-Alliance.sql
TriggerUpdateChangeVersion-v5.0.sql
TriggerUpdateChangeVersion-v5.0-Alliance.sql
TriggerUpdateChangeVersion-v6.0.sql
TriggerUpdateChangeVersion-v6.0-Alliance.sql
sample-TriggerUpdateChangeVersion-v6.0.sql
sample-TriggerUpdateChangeVersion-v6.0-Alliance.sql
AddColumnChangeVersion-v5.0.sql
AddColumnChangeVersion-v6.0.sql
sample-AddColumnChangeVersion-v6.0.sql
AddIndexChangeVersion-v5.0.sql
AddIndexChangeVersion-v6.0.sql

CreatedByOwnership-v5.0.sql
CreatedByOwnership-v5.0-Alliance.sql

MetaEdOutput-Experimental/
MetaEdOutput/

.secrets
metaed.conf.json
build/package-lock.json
