!.gitkeep
.DS_Store
bower_components/
coverage/
jspm_packages/
lerna-debug.log
logs/*
node_modules/
npm-debug.log
tmp

## Webstorm:
.idea/

## VSCode:
.vscode/

## Babel target directory
dist/

## Test artifacts
/packages/metaed-plugin-edfi-xsd/test/integration/artifact/*.diff
/packages/metaed-plugin-edfi-xsd/test/integration/artifact/*.html
/packages/metaed-plugin-edfi-xsd/test/integration/artifact/Ed-Fi-Core.xsd
/packages/metaed-plugin-edfi-xsd/test/integration/artifact/SchemaAnnotation.xsd

/packages/metaed-plugin-edfi-ods/test/integration/artifact/*.diff
/packages/metaed-plugin-edfi-ods/test/integration/artifact/*.html
/packages/metaed-plugin-edfi-ods/test/integration/artifact/0004-Tables.sql

MetaEdArtifacts/
