logs/*
!.gitkeep
node_modules/
bower_components/
jspm_packages/
coverage/
tmp
.DS_Store
npm-debug.log
lerna-debug.log

## Webstorm user specific files:
.idea/

## VSCode user specific files:
.vscode/

## Babel target directory
dist/

## Test artifacts
/packages/metaed-plugin-edfi-xsd/test/integration/artifact/*.diff
/packages/metaed-plugin-edfi-xsd/test/integration/artifact/*.html
/packages/metaed-plugin-edfi-xsd/test/integration/artifact/Ed-Fi-Core.xsd
/packages/metaed-plugin-edfi-xsd/test/integration/artifact/SchemaAnnotation.xsd

/packages/metaed-plugin-edfi-ods/test/integration/artifact/*.diff
/packages/metaed-plugin-edfi-ods/test/integration/artifact/*.html
/packages/metaed-plugin-edfi-ods/test/integration/artifact/0004-Tables.sql
