name: API Schema Packaging and Publishing

on:
  workflow_dispatch:
    inputs:
      debug_enabled:
        description: Run the build with tmate debugging enabled
        required: true
        default: "false"
        type: choice
        options:
          - "false"
          - "true"

env:
  ARTIFACTS_API_KEY: ${{ secrets.AZURE_ARTIFACTS_PERSONAL_ACCESS_TOKEN }}
  ARTIFACTS_FEED_URL: https://pkgs.dev.azure.com/ed-fi-alliance/Ed-Fi-Alliance-OSS/_packaging/EdFi/nuget/v3/index.json
  VSS_NUGET_EXTERNAL_FEED_ENDPOINTS: '{"endpointCredentials": [{"endpoint": "${{ vars.AZURE_ARTIFACTS_FEED_URL }}","password": "${{ secrets.AZURE_ARTIFACTS_PERSONAL_ACCESS_TOKEN }}"}]}'
  TPDM_REPO_TAG: "Data-Standard-v5.2.0"
  PROJECT_VERSION: "5.2.0"
  PROJECT_DESCRIPTION: "The Ed-Fi Data Standard v5.2.0"
  DATASTANDARD_REPO_TAG:  "DS-5.2.0-ME-3.0.0"
  TECHNOLOGY_VERSION: "7.2.0"

jobs:
  run-metaed-project:
    name: Run MetaEd Project 
    runs-on: ubuntu-latest
    strategy:
      matrix:
        config: [ "Core", "TPDM" ]
    defaults:
      run:
        shell: pwsh
    steps:
      - name: Checkout MetaEd-js
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          repository: Ed-Fi-Closed/MetaEd-js
          path: MetaEd-js/

      - name: Checkout Ed-Fi-TPDM-Model (for TPDM only)
        if: matrix.config == 'tpdm'
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          repository: Ed-Fi-Closed/Ed-Fi-TPDM-Model
          path: MetaEdExtensionSource/
          ref: ${{env.TPDM_REPO_TAG}}
          token: ${{ secrets.EDFI_BUILD_AGENT_PAT }}

      - name: Create MetaEdConfig
        working-directory: ./MetaEd-js/   
        run: ./eng/ApiSchema/CreateMetaEdConfig.ps1 -Workspace ${{ github.workspace }} -ProjectVersion ${{ env.PROJECT_VERSION }} -ProjectDescription "${{ env.PROJECT_DESCRIPTION }}" -TechnologyVersion ${{ env.TECHNOLOGY_VERSION }} -MetaEdExtensionName ${{ matrix.config  }}
        shell: pwsh

      - name: Print the created MetaEdConfig-${{ env.TECHNOLOGY_VERSION }}-DS-5.2-${{ matrix.config  }}.json config
        shell: pwsh
        run: |
          $configFilePath = "${{ github.workspace }}/MetaEd-js/eng/ApiSchema/MetaEdConfig-${{ env.TECHNOLOGY_VERSION }}-DS-5.2-${{ matrix.config  }}.json"
          
          # Check if the file exists
          if (Test-Path $configFilePath) {
              # Read the JSON file content
              $jsonContent = Get-Content -Path $configFilePath | Out-String
              # Print the JSON content
              Write-Host "MetaEd Configuration JSON Content:"
              Write-Host $jsonContent
          } else {
              Write-Host "MetaEd configuration file does not exist at: $configFilePath"
              exit 1
          }

      - name: Run MetaEd Project
        working-directory: ./MetaEd-js/      
        run: ./eng/ApiSchema/build.ps1 -Command RunMetaEd  -SchemaPackagingConfigFile "${{ github.workspace }}/MetaEd-js/eng/ApiSchema/MetaEdConfig-${{ env.TECHNOLOGY_VERSION }}-DS-5.2-${{ matrix.config  }}.json"

      - name: Upload MetaEdOutput as Artifact
        if: success()
        uses: actions/upload-artifact@6f51ac03b9356f520e9adb1b1b7802705f340c2b # v4.5  
        with:
          name: MetaEdOutput-${{ matrix.config }}-${{ env.DATASTANDARD_REPO_TAG }}-${{ env.TECHNOLOGY_VERSION }}
          path: ${{ github.workspace }}/MetaEd-js/MetaEdOutput/**/*.* 
          if-no-files-found: error
          retention-days: 5

  api-schema-packaging:
    name: API Schema Packaging
    runs-on: ubuntu-latest
    needs: run-metaed-project
    strategy:
      matrix:
        config: [ "Core", "TPDM" ]    
    defaults:
      run:
        shell: pwsh
    steps:
      - name: Checkout MetaEd-js
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          repository: Ed-Fi-Closed/MetaEd-js
          path: MetaEd-js/

      - name: Get Artifacts
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
          name: MetaEdOutput-${{ matrix.config }}-${{ env.DATASTANDARD_REPO_TAG }}-${{ env.TECHNOLOGY_VERSION }}
          path: ./MetaEd-js/MetaEdOutput

      - name: Display structure of downloaded files
        run: ls -R ./

      - name: Move MetaEd ApiSchema Files
        working-directory: ./MetaEd-js/
        run: ./eng/ApiSchema/build.ps1 -Command MoveMetaEdSchema -ApiSchemaPackageType "${{ matrix.config  }}"

      - name: Update Marker.js File
        shell: pwsh
        run: |
          $filePath = "${{ github.workspace }}/MetaEd-js/eng/ApiSchema/Marker.cs"
          $fileContent = Get-Content -Path $filePath -Raw
          $updatedContent = $fileContent -replace "EdFi.DataStandard52.ApiSchema", "EdFi.DataStandard52.ApiSchema.${{ matrix.config }}"
          Set-Content -Path $filePath -Value $updatedContent
          Write-Output $updatedContent

      - name: Run Build
        working-directory: ./MetaEd-js/
        run: ./eng/ApiSchema/build.ps1 Build -Version "1.0.${{ github.run_number }}" -ApiSchemaPackageType "${{ matrix.config }}"

      - name: API Schema Package - Create NuGet File
        working-directory: ./MetaEd-js/      
        run: ./eng/ApiSchema/build.ps1 Package -Version "1.0.${{ github.run_number }}" -ApiSchemaPackageType "${{ matrix.config }}"

      - name: Publish Package
        working-directory: ./MetaEd-js/
        run: ./eng/ApiSchema/build.ps1 BuildAndPublish -Version "1.0.${{ github.run_number }}"

      - name: Upload Package as Artifact
        if: success()
        uses: actions/upload-artifact@6f51ac03b9356f520e9adb1b1b7802705f340c2b # v4.5  
        with:
          name: "EdFi.ApiSchema-NuGet-${{ matrix.config }}-${{ env.DATASTANDARD_REPO_TAG }}-1.0.${{ github.run_number }}"
          path: ./MetaEd-js/eng/ApiSchema/*${{ matrix.config }}*.nupkg
          if-no-files-found: error
          retention-days: 30

  publish-package:
    name: Publish NuGet Package
    needs: api-schema-packaging
    strategy:
      matrix:
        config: [ "Core", "TPDM" ]     
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: pwsh
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Get Artifact
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
          name: EdFi.ApiSchema-NuGet-${{ matrix.config }}-${{ env.DATASTANDARD_REPO_TAG }}-1.0.${{ github.run_number }}

      - name: Install-credential-handler
        run: iex "& { $(irm https://aka.ms/install-artifacts-credprovider.ps1) } -AddNetfx"

      - name: Push Package to Azure Artifacts
        run: |
         $packageDir = "/home/runner/work/MetaEd-js/MetaEd-js"
         $artifacts = (Get-ChildItem -Path $packageDir -Name -Include *${{ matrix.config }}*.nupkg)
         
         echo "Artifacts List"
         echo $artifacts

         $arguments = @{
           NuGetApiKey = "${{ env.ARTIFACTS_API_KEY }}"
           EdFiNuGetFeed = "${{ env.ARTIFACTS_FEED_URL }}"
         }

         if ($artifacts.Count -eq 0) {
          throw "Cannot find a NuGet package $packageDir"
         } 
         else {
            $artifacts | ForEach-Object {
                echo "Package Files"             
                $arguments.PackageFile = Join-Path -Path $packageDir -ChildPath $_
                echo $arguments.PackageFile
                ./eng/ApiSchema/build.ps1 PushPackage @arguments
              }
         }
