name: Auto Publish Dev
on:
  # TODO: workflow_dispatch is temporary for testing
  workflow_dispatch:
  pull_request:
    types: [closed]
    branches:
      - main
jobs:
  auto-publish-dev:
    name: Auto Publish Dev

    # Only if closed due to merge
    if: github.event.pull_request.merged == true

    # Windows is the required OS for some of the unit test libraries
    runs-on: windows-2019

    steps:
      - name: Checkout   
        uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579
        with:
          fetch-depth: 0

      - name: "Node 16 latest"
        uses: actions/setup-node@1f8c6b94b26d0feae1e387ca63ccbdc44d27b561
        with:
          node-version: '16'
          check-latest: true          
          registry-url: 'https://www.myget.org/F/ed-fi/npm/'

      - name: Install
        run: yarn install --no-immutable
      
      - name: Build
        run: yarn build

      - name: Publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_MYGET_ACCESS_TOKEN }}
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor}}@users.noreply.github.com"

          yarn lerna version prerelease --exact --force-publish=* --force-git-tag --sign-git-commit --yes --preid=dev

          yarn lerna publish from-git --yes --dist-tag=dev --no-verify-access
