name: Dependency Review

on:
  pull_request:
    branches:
      - main
    paths:
      - "packages/**"
      - ".github"

jobs:
  scan-actions:
    name: Scan Actions
    uses: ed-fi-alliance-oss/ed-fi-actions/.github/workflows/repository-scanner.yml@main
